<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Patrick Careers</title>
  <style>
    h1 {
      font-size: 60px;
      font-family: Roboto;
      font-weight: normal;
      text-align: center;
    }
    
    h2 {
      font-family: sans-serif;
      font-size: 30px;
      font-weight: medium;
      color: rgb(50, 50, 50);
      text-align: center;
    }

    .bodytext{
      font-family: Roboto;
    }

    #container{
      max-width: 720px;
      margin: 0 auto 0 auto;
    }
    
    #banner{
      width:100%;
      height: 360px;
    }
  cover</style>
</head>
  
<body>
  <div id="container">
    <h1>Gantt Chart</h1>
    <img id="banner" src="https://patrick-careers-website.psellers43.repl.co/static/GanttBanner.jpg" >
    <h2>Projects and Tasks</h2>
    <p class="bodytext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h2>Create Your Workflow</h2>
    <p class="bodytext">Add your timeline below</p>
    <div style="text-align:center;">
    <button>Submit</button>
      <p>Copyright 2023, onejsps</p>
    </div>
  </div>
</body>
</html>
